//Card of popular categories section
.card_popular {
    width: calc(100%/5);
    border: 1px solid $color-5-light-grey;
    align-items: center;
    padding: 25px 20px;

    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .product_img {
            margin: $m-0-5;
            
               
        .img_product {
            display: block;
            margin:0 auto;
            left:50%;
        }
    }
    .product_description {

        .product_title {
            display:block;
            text-align:center;

            font-weight: $font-w-700;
            font-size: $font-18;

            margin:$m-1;

            &:hover {
                color:$color-middle-blue;
            }

        }
        .product_count {
            text-align:center;

            font-weight: $font-w-400;
            font-size: $font-14;
            
            color: $color-4-light-grey;
        }
    }
}
//Card of Brend section
.card_brend {
    background-color: $color-8-light-grey;
    border: 1px solid $color-5-light-grey;
    border-radius: 10px;

    width:180px;
    height: 100px;

    padding: $p-27px $p-30px;
    
    &:hover {
        background-color: $color-white;
        
            
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}
//Card of Icons block
.card_icon {
    @include flex();

    width: 270px;
    height: 98px;

    padding: 25px 30px;

    background-color: $color-7-light-grey;
    border-radius: 5px;

    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        cursor: pointer;
    }

    .title_icon {
        font-weight: $font-w-500;
        font-size: $font-18;
        color: $color-light-grey;
    }

    .icon_img {

    }

}

