html,
body {
    font-family: $font;
    font-size: $font-14;

    background: $color-white;
    overflow-x: hidden;
}

.conteiner {
    @include container();
}

.stars {
    @include flex();

    
}

.no_flex {
    clear: left;
}




