.footer {
    @include container();

    background-color: $color-8-light-grey;

    @media screen and (max-width:1200px) {
        @include container_1200();
    }
    @media screen and (max-width:992px) {
        @include container_992();
    }
    @media screen and (max-width:768px) {
        @include container_768();
    }
    @media screen and (max-width:576px) {
        @include container_576();
    }
    
    &-block {
        @include flex();

        max-width: 1280px;
        margin: 0 auto;

        height: 460px;
        
        font-size: $font-16;

        @media screen and (max-width:1200px) {
            max-width: 1140px;
            font-size: $font-14;
        }
        @media screen and (max-width:992px) {
            max-width: 952px;
            font-size: $font-13;
        }
        @media screen and (max-width:768px) {
            max-width: 738px;
            font-size: $font-11;
        }
        @media screen and (max-width:576px) {
            max-width: 566px;
            font-size: $font-10;
          
        }


        &__column1 {
            height: 80%;

            @media screen and (max-width:576px) {
                width: 100%;
              
            }
            
            &_lists {
                
                &--list {
                    margin: $m-1;
                    clear:left;
                 
                }
            }
        }

        &__column2 {
            height: 80%;

            @media screen and (max-width:576px) {
                display: none;
              
            }
            
            &_lists {

                &--list {
                    margin: $m-1;

                    & a:hover {
                        @include transition();
                        color: $color-middle-blue;
                    }
                }
            }
        }

        &__column3 {
            height: 80%;

            @media screen and (max-width:576px) {
                display: none;
              
            }
            
            &_lists {
                
                &--list {
                    margin: $m-1;

                    & a:hover {
                        @include transition();
                        color: $color-middle-blue;
                    }
                }
            }
        }

        &__column4 {
            height: 80%;

            @media screen and (max-width:576px) {
                display: none;
              
            }
            
            &_lists {
               
                &--list {
                    margin: $m-1;

                    & a:hover {
                        @include transition();
                        color: $color-middle-blue;
                    }
                }
            }
        }
    }

    &-rights {
        background-color: $color-7-light-grey;
        height: 60px;

        @media screen and (max-width:576px) {
            display: none;
        }

        &__block {
            @include flex();

            max-width: 1280px;
            margin: 0 auto;
            padding:$p-1-5;

            font-size: $font-14;

            color: $color-light-grey;

            @media screen and (max-width:1200px) {
                max-width: 1140px;
                padding:$p-1-3;
                font-size: $font-13;
            }
            @media screen and (max-width:992px) {
                max-width: 952px;
                padding:$p-1;
                font-size: $font-12;
            }
            @media screen and (max-width:768px) {
                max-width: 738px;
                padding:$p-0-7;
                font-size: $font-11;
            }
            @media screen and (max-width:576px) {
                max-width: 566px;
                padding:$p-0-5;
                font-size: $font-10;
                flex: none;
            }

            &_politics {

                &--item {
                    margin: $m-1;

                    @media screen and (max-width:1200px) {
                        margin: $m-0-7;
                    }
                    @media screen and (max-width:992px) {
                        margin: $m-0-5;
                    }
                    @media screen and (max-width:768px) {
                        margin: $m-0-3;
                    }
                    @media screen and (max-width:576px) {
                        margin: $m-0-2;
                    }

                    &:hover {
                        @include transition();
                        color: $color-middle-blue;

                    }
                }
            }

            &_sitemap {

                &--item {
                    margin: $m-1;

                    @media screen and (max-width:1200px) {
                        margin: $m-0-7;
                    }
                    @media screen and (max-width:992px) {
                        margin: $m-0-5;
                    }
                    @media screen and (max-width:768px) {
                        margin: $m-0-3;
                    }
                    @media screen and (max-width:576px) {
                        margin: $m-0-2;
                    }

                    &:hover {
                        @include transition();
                        color: $color-middle-blue;

                    }
                }
            }
        }
    }
}
 

//Title of columns footer
.title_footer_menu {
    font-size: $font-20;
    font-weight: $font-w-700;
    margin-bottom: $m-2;

    @media screen and (max-width:1200px) {
        font-size: $font-18;
    }
    @media screen and (max-width:992px) {
        font-size: $font-16;
    }
    @media screen and (max-width:768px) {
        font-size: $font-14;
    }
    @media screen and (max-width:576px) {
        font-size: $font-12;
    }
}

//Column_1
.logo-footer {
    float:left;
    margin: $m-1;
    width: 110%;

    @media screen and (max-width:1200px) {
        margin: $m-0-7;
    }
    @media screen and (max-width:992px) {
        margin: $m-0-5;
    }
    @media screen and (max-width:768px) {
        margin: $m-0-3;
    }
    @media screen and (max-width:576px) {
        margin: $m-0-2;
    }
    
    &__icon {
        margin: $m-1;
        margin-left:-5px;

        &_img {
            background-image: url('../img/icons/logo_round.png');
            background-repeat: no-repeat;
            padding: $p-0-5;
            float: left;

        }
    }

    &__title {

        &_name {
            font-size: $font-20;
            font-weight: $font-w-400;
            margin: $m-0-5;
            margin-top: 20px;
            margin-left: -12px;
            padding: $p-0-3;

            @media screen and (max-width:1200px) {
                font-size: $font-18;
                margin: $m-0-5;
                padding: $p-0-3;
            }
            @media screen and (max-width:992px) {
                font-size: $font-16;
                margin: $m-0-3;
                padding: $p-0-3;
            }
            @media screen and (max-width:768px) {
                font-size: $font-14;
                margin: $m-0-3;
                padding: $p-0-2;
            }
            @media screen and (max-width:576px) {
                font-size: $font-12;
                margin: $m-0-2;
                padding: $p-0-2;
            }

        }

        &_description {
            font-size: $font-6;
            color:$color-3-dark-blue;
            margin: $m-0-5;
            margin-top: -14px;
            margin-left: -12px;
            padding: $p-0-3;

            @media screen and (max-width:1200px) {
                font-size: $font-6;
                margin: $m-0-5;
                padding: $p-0-3;
            }
            @media screen and (max-width:992px) {
                font-size: $font-6;
                margin: $m-0-3;
                padding: $p-0-3;
            }
            @media screen and (max-width:768px) {
                font-size: $font-5;
                margin: $m-0-3;
                padding: $p-0-2;
            }
            @media screen and (max-width:576px) {
                font-size: $font-4;
                margin: $m-0-2;
                padding: $p-0-2;
            }
        }
    }
}

// contacts (adress, time, e-mail)
.contacts-footer {

    &__icon {
        float:left;
        margin:$m-0-3;
        margin-top: -2px;

        @media screen and (max-width:1200px) {
            margin:$m-0-3;
        }
        @media screen and (max-width:992px) {
            margin:$m-0-3;
        }
        @media screen and (max-width:768px) {
            margin:$m-0-2;
        }
        @media screen and (max-width:576px) {
            margin:$m-0-2;
        }
    }

    &__contact {
        margin:$m-1;

        @media screen and (max-width:1200px) {
            margin:$m-0-7;
        }
        @media screen and (max-width:992px) {
            margin:$m-0-5;
        }
        @media screen and (max-width:768px) {
            margin:$m-0-3;
        }
        @media screen and (max-width:576px) {
            margin:$m-0-2;
        }

        & a:hover {
            @include transition();
            color: $color-middle-blue;
        }
    }
}

// Yandex block
.footer__yandex {
    border:1px solid $color-5-light-grey;
    border-radius: 3px;

    padding: 10px;
    margin:$m-1;

    &_title {
        margin:$m-0-5;
        text-align:center;
        font-weight: $font-w-700;
    }

    &_logo {
        margin: $m-0-3 auto;
        display:block;
        justify-content: center;
        
    }

    @media screen and (max-width:1200px) {
        padding: 8px;
        margin: $m-0-7;

        width: 90%;
    }
    @media screen and (max-width:992px) {
        padding: 7px;
        margin: $m-0-5;

        width: 85%;
    }
    @media screen and (max-width:768px) {
        padding: 6px;
        margin: $m-0-3;

        width: 80%;
    }
    @media screen and (max-width:576px) {
        padding: 5px;
        margin: $m-0-3;

        width: 50%;
    }

    &_title {
        margin:$m-0-5;
        text-align:center;
        font-weight: $font-w-700;
    }

    &_logo {
        margin: $m-0-3 auto;
        display:block;
        justify-content: center;
        
    }
    
}

//Column 3


.payment {

    @media screen and (max-width:1200px) {
        &__title {
            color: $color-3-light-grey;
            
        }
    
        &__type {
            margin: $m-0-3;
        
            &:hover {
                @include transition();
        
                transform: translateY(-5px);
                
            }
        }
    }
    @media screen and (max-width:992px) {
        &__title {
            color: $color-3-light-grey;
            
        }
    
        &__type {
            margin: $m-0-2;
        
            &:hover {
                @include transition();
        
                transform: translateY(-5px);
                
            }
        }
    }
    @media screen and (max-width:768px) {
        display: none;
    }
    @media screen and (max-width:576px) {
        display: none;
    }

    

}

//Column 4

// Phone number
.phone {

    &__link {
        color: $color-dark-grey;
        font-weight: $font-w-700;
        font-size: $font-24;

        @media screen and (max-width:1200px) {
            font-size: $font-20;
        }
        @media screen and (max-width:992px) {
            font-size: $font-18;
        }
        @media screen and (max-width:768px) {
            font-size: $font-16;
        }
        @media screen and (max-width:576px) {
            font-size: $font-14;
        }
    }
}

.social-footer {

    &__icon {
        float: left;
        background: $color-white;
        border-radius: 5px;
        width: 36px;
        height: 36px;
        margin: $m-0-5 $m-0-5 $m-1 0;

        @media screen and (max-width:1200px) {
            width: 32px;
            height: 32px;
        }
        @media screen and (max-width:992px) {
            width: 30px;
            height: 30px;
        }
        @media screen and (max-width:768px) {
            width: 28px;
            height: 28px;
        }
        @media screen and (max-width:576px) {
           display: none;
        }

        &_img {
            display: block;
            margin: 10px auto;

            @media screen and (max-width:1200px) {
                margin: 9px auto;
            }
            @media screen and (max-width:992px) {
                margin: 8px auto;
            }
            @media screen and (max-width:768px) {
                margin: 7px auto;
            }
            @media screen and (max-width:576px) {
                margin: 6px auto;
            }

            &:hover {
                @include transition();
                transform: translateY(-4px);

            }
        }
    }
}













    