.footer {
    max-width: 1440px;
    margin: 0 auto;

    background-color: $color-8-light-grey;
    
    &-block {
        @include flex();

        max-width: 1280px;
        margin: 0 auto;
        
        height: 460px;

        font-size: $font-16;

        &__column1 {
            height:80%;

            &_lists {
                
                &--list {
                    margin: $m-1;
                    clear:left;

                    .logo_footer {
                        float:left;
                        margin: $m-1;
                        
                        .name_title {
                            font-size: $font-20;
                            font-weight: $font-w-400;
                            margin: $m-0-5;
                            margin-top: -10px;
                            margin-left: -15px;
                            padding: $p-0-3;
                            
                        }
                        .description_title {
                            font-size: $font-6;
                            color:$color-3-dark-blue;
                            margin: $m-0-5;
                            margin-top: -14px;
                            margin-left: -15px;
                            padding: $p-0-3;
                        }
                    }
                    .logo_img_footer {
                        margin: $m-1;
                        margin-left:-5px;
                        

                        .logo_icon_centr_footer {
                            background-image: url('../img/icons/logo_round.png');
                            background-repeat: no-repeat;
                            padding: $p-0-5;
                            float: left;

                        }
                    }

                    .footer_adress_icon,
                    .footer_clocks_icon,
                    .footer_mail_icon {
                        float:left;
                        margin:$m-0-3;
                    }

                    .footer_adress,
                    .footer_time,
                    .footer_mail,
                    .footer_yandex {
                        margin:$m-1;
                    }

                    .footer_mail a {

                        &:hover {
                            @include transition();
                            color: $color-middle-blue;
                        }

                    }

                    .footer_yandex {
                        border:1px solid $color-5-light-grey;
                        border-radius: 3px;

                        padding: 10px;
                        width:90%;

                        .yandex_title {
                            margin:$m-0-5;
                            text-align:center;
                            font-weight: $font-w-700;
                        }

                        .yandex_logo {
                            margin: $m-0-3 auto;
                            display:block;
                            justify-content: center;
                            
                        }
                        
                    }
                }
            }
        }

        &__column2 {
            height:80%;

            &_lists {

                &--list {
                    margin: $m-1;

                    & a:hover {
                        @include transition();
                        color: $color-middle-blue;
                    }

                }

                
            }
        }
        
        &__column3 {
            height:80%;

            &_lists {
                
                &--list {
                    margin: $m-1;

                    & a:hover {
                        @include transition();
                        color: $color-middle-blue;
                    }

                    .payment_title {
                        color: $color-3-light-grey;
                        
                    }

                    .payment_type {
                        margin: $m-0-3;

                        &:hover {
                            @include transition();

                            transform: translateY(-5px);
                            
                        }
                    }
                }
            }
            
        }

        &__column4 {
            height:80%;

            &_lists {
               
                &--list {
                    margin: $m-1;

                    & a:hover {
                        @include transition();
                        color: $color-middle-blue;
                    }

                    .phone {
                        color: $color-dark-grey;
                        font-weight: $font-w-700;
                        font-size: $font-24;
                    }

                    .icon_block {
                        float: left;
                        background: $color-white;
                        border-radius: 5px;
                        width: 36px;
                        height: 36px;
                        margin: $m-0-5 $m-0-5 $m-1 0;
                        


                        .social_icon {
                           display: block;
                           margin: 10px auto;

                           &:hover {
                                @include transition();
                                transform: translateY(-4px);

                           }
                           
                        }

                    }
                   
                }
            }
            
        }
    }

    &-rights {
        background-color: $color-7-light-grey;

        height: 60px;

        &__block {
            @include flex();

            max-width: 1280px;
            margin: 0 auto;
            padding:$p-1-5;

            font-size: $font-14;

            color: $color-light-grey;

            &_politics {

                &--item {
                    margin: $m-1;

                    &:hover {
                        @include transition();
                        color: $color-middle-blue;

                    }
                }
            }

            &_sitemap {

                &--item {
                    margin: $m-1;

                    &:hover {
                        @include transition();
                        color: $color-middle-blue;

                    }
                }
            }
        }

    }
}
 

//Title of columns footer
.title_footer_menu {
    font-size: $font-20;
    font-weight: $font-w-700;
    margin-bottom: $m-2;
    
    
}





    