.header {
    @include container();

    @media screen and (max-width:1200px) {
        @include container_1200();
    }
    @media screen and (max-width:992px) {
        @include container_992();
    }
    @media screen and (max-width:768px) {
        @include container_768();
    }
    @media screen and (max-width:576px) {
        @include container_576();
    }

    &-top {
        background-color: $color-8-light-grey;
        
        &__block {
            @include flex();
            max-width: 1280px;
            margin: 0 auto;

            font-size: $font-16;

            @media screen and (max-width:1200px) {
                max-width: 1140px;
                font-size: $font-14;
            }
            @media screen and (max-width:992px) {
                max-width: 952px;
                font-size: $font-13;
            }
            @media screen and (max-width:768px) {
                max-width: 738px;
                font-size: $font-11;
            }
            @media screen and (max-width:576px) {
                max-width: 566px;
                font-size: $font-10;
            }

            &_region {
                @include flex();

                @media screen and (max-width:576px) {
                   display: none;
                }
               
                &--list {
                    
                    &:hover {
                        @include transition();

                        background-color: $color-dark-yellow;

                        border-radius: 5px;

                        margin: $m-0-3;
                        padding: $p-0-3;
                        cursor: pointer;
                        
                    }
                }
            }

            &_nav {
                @include flex();
               
                &--list {
                    margin: $m-0-3;
                    padding: $p-0-3;

                    &:hover {
                        @include transition();

                        background-color: $color-dark-yellow;
                        border-radius: 5px;
                        margin: $m-0-3;
                        padding: $p-0-3;
                    }
                }
            }

            &_contacts {
                @include flex();

                @media screen and (max-width:576px) {
                    display:none;
                }
               
                &--list {
                    margin: $m-0-3;
                    padding: $p-0-3;

                }
            }

            &_mail {
                @include flex();

                &--list {
                    margin: $m-0-3;
                    padding: $p-0-3;

                    &:hover {
                        @include transition();

                        background-color: $color-dark-yellow;
                        border-radius: 5px;
                        margin: $m-0-3;
                        padding: $p-0-3;
                    }

                    @media screen and (max-width:1200px) {
                        display:none;
                    }
                    @media screen and (max-width:992px) {
                        display:none;
                    }
                    @media screen and (max-width:768px) {
                        display:none;
                    }
                    @media screen and (max-width:576px) {
                        display:none;
                    }
                }

               
            }

            &_user {
                @include flex();

                @media screen and (max-width:576px) {
                    & img {
                        display: none;
                    }
                }

               
                
                &--list {
                    margin: $m-0-3;
                    padding: $p-0-3;

                    &:hover {
                        @include transition();

                        background-color: $color-dark-yellow;
                        border-radius: 5px;
                        margin: $m-0-3;
                        padding: $p-0-3;
                    }
                }
            }
        }
    }

    &-bottom {

        height:90px;

        &__block {
            @include flex();

            max-width: 1280px;
            margin: 0 auto;

            padding:$p-1;

            @media screen and (max-width:1200px) {
                max-width: 1080px;
                padding:$p-1;
            }
            @media screen and (max-width:992px) {
                max-width: 892px;
                padding:$p-1;
            }
            @media screen and (max-width:768px) {
                max-width: 720px;
                padding:$p-0-7;
            }
            @media screen and (max-width:576px) {
                max-width: 456px;
                padding:$p-0-5;
            }

            &_logo {
                width: 26%;

                @media screen and (max-width:576px) {
                    width: 100%;
                }
               
                &--img {
                    float: left;
                   
                }

                &--name {
                    margin-top: 10px;
                    font-size: $font-20;
                    font-weight: $font-w-400;

                    @media screen and (max-width:1200px) {
                        font-size: $font-18;
                    }
                    @media screen and (max-width:992px) {
                        font-size: $font-16;
                    }
                    @media screen and (max-width:768px) {
                        font-size: $font-14;
                    }
                    @media screen and (max-width:576px) {
                        font-size: $font-12;
                    }
                }
                &--description {
                    margin-top: -10px;
                    font-size: $font-6;
                    color:$color-3-dark-blue;

                    @media screen and (max-width:1200px) {
                        font-size: $font-6;
                    }
                    @media screen and (max-width:992px) {
                        font-size: $font-6;
                    }
                    @media screen and (max-width:768px) {
                        font-size: $font-4;
                    }
                    @media screen and (max-width:576px) {
                        font-size: $font-4;
                    }
                   
                }
            }

            &_search {
                
                
                &--input {
                    width: 600px;
                    height: 48px;

                    @media screen and (max-width:1200px) {
                        max-width: 450px;
                    }
                    @media screen and (max-width:992px) {
                        max-width: 300px;
                    }
                    @media screen and (max-width:768px) {
                        max-width: 250px;
                    }
                    @media screen and (max-width:576px) {
                        display: none;
                    }

                    padding: $p-12px $p-15px;
                    border-radius: $p-5px;
                    border: 1px solid $color-5-light-grey;

                    background-color: $color-8-light-grey;
                }
            }

            &_function {
                @include flex();

                @media screen and (max-width:576px) {
                    display: none;
                 }

                &--list {
                    margin: $m-1;

                    @media screen and (max-width:1200px) {
                        margin: $m-0-7;
                    }
                    @media screen and (max-width:992px) {
                        margin: $m-0-5;
                    }
                    @media screen and (max-width:768px) {
                        margin: $m-0-3;
                    }
                    @media screen and (max-width:576px) {
                        margin: $m-0-3;
                    }
        

                }
            }
        }
    }
    &-nav {
        height:50px;
        border: 2px solid $color-5-light-grey;

        @media screen and (max-width:576px) {
            display: none;
        }

        &__block {
            max-width: 1280px;
            margin: 0 auto;

            font-size: $font-18;
            font-weight: $font-w-500;

            @media screen and (max-width:1200px) {
                max-width: 1080px;
                font-size: $font-18;
                font-weight: $font-w-500;
            }
            @media screen and (max-width:992px) {
                max-width: 872px;
                font-size: $font-14;
                font-weight: $font-w-500;
            }
            @media screen and (max-width:768px) {
                max-width: 748px;
                font-size: $font-11;
                font-weight: $font-w-500;
            }
            @media screen and (max-width:576px) {
                max-width: 556px;
                font-size: $font-9;
                font-weight: $font-w-500;
            }

            &_lists {
                @include flex();
                padding:$p-1;

                &--list a {
                    font-weight:$font-w-500;
                    
                    &:hover {
                        color: $color-middle-blue;
                        
                        border-bottom: 4px solid $color-middle-blue;

                        font-weight:$font-w-500;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .closed_menu {
        display: none;
    }
}
@media screen and (max-width:992px) {
    .closed_menu {
        display: none;
    }
}
@media screen and (max-width:768px) {
    .closed_menu {
        display: none;
    }
}
@media screen and (max-width:576px) {
   
}



// marker place
.point_icon {
    margin: $m-0-5;
    
    &:hover {
        @include transition();
        transform: translateY(-5px);
    }

    @media screen and (max-width:1200px) {
        width: 60%;
        margin: $m-0-5;
    }
    @media screen and (max-width:992px) {
        width: 50%;
        margin: $m-0-3;
    }
    @media screen and (max-width:768px) {
        width: 40%;
        margin: $m-0-2;
    }
    @media screen and (max-width:576px) {
        width: 30%;
        margin: $m-0-2;
    }
}

// Social contacts icons
.social {

    &__list {

        &_icon {
            padding: 0px;
            margin: 0px;

            @media screen and (max-width:1200px) {
               width: 90%; 
            }
            @media screen and (max-width:992px) {
                width: 80%; 
            }
            @media screen and (max-width:768px) {
                width: 70%; 
            }
            @media screen and (max-width:576px) {
                width: 60%; 
            }

            &:hover {
                @include transition();
        
                transform: translateY(-5px);
            }
        }
    }
}

//Logo company
.logo_icon_centr {
    background-image: url('../img/icons/logo_round.png');
    background-repeat: no-repeat;
    padding: $p-0-3;
                 
}

// functions icons
.functions__lists {
   
    &_list {

        &--icon {

            @media screen and (max-width:1200px) {
                width: 90%;
            }
            @media screen and (max-width:992px) {
                width: 80%;
            }
            @media screen and (max-width:768px) {
                width: 70%;
            }
            @media screen and (max-width:576px) {
                width: 60%;
            }



            &:hover {
                @include transition();
                transform: translateY(-5px);
            }
        }
    }
}



//Всплавающее меню

/* Кнопка выпадающего списка */
.dropbtn {
    background-color: $color-8-light-grey;
    color: $color-dark-grey;
    font-size: $font-16;
    border: none;
    cursor: pointer;

    @media screen and (max-width:1200px) {
        font-size: $font-14;
    }
    @media screen and (max-width:992px) {
        font-size: $font-13;
    }
    @media screen and (max-width:768px) {
        font-size: $font-12;
    }
    @media screen and (max-width:576px) {
        font-size: $font-11;
    }
}

/* Кнопка выпадающего меню при наведении и фокусировке */
.dropbtn:hover, .dropbtn:focus {
    background-color: $color-8-light-grey;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: $color-8-light-grey;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: $color-dark-grey;
    padding: 10px 15px;
    display: block;

}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: #ddd}

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
.show {
    display:block;
}






