.section {
    @include container();

    &__container {
       
        margin: 0 auto;

        &_top {
            @include flex();
            margin: $m-1 0;

            max-width: 1280px;
            margin: 0 auto;
            
            &--title {
                font-weight: $font-w-700;
                font-size: $font-32;
                margin:$m-1;
                margin-bottom: $m-2;
                
                & a:hover {
                    color: $color-middle-blue;
                    border-bottom: 4px solid $color-middle-blue;
                }
               
            }

            &--link {
                @include flex();

                font-weight: $font-w-500;
                font-size: $font-16;
                margin: $m-1;
                text-align: right;

                
            }
        }

        &_lists {
            @include flex_e();
            
            max-width: 1280px;
            margin: 0 auto;
        }

        &_description {
            font-size: $font-16;
            font-weight: $font-w-400;
            margin-left: $m-4;
            line-height: 22px;

            &--list {
                padding: $p-1;
                font-size: $font-16;
                font-weight: $font-w-400;
                margin-left: $m-5;
                list-style-type: disc;
            }

        }

        &_swiper {
           max-width: 1280px;
           margin: $m-2;
           margin: 0 auto;
          
        }

    }

    
}



.section1 {
    height: 460px;
    background-color: $color-8-light-grey;
}

.section2 {
    height: 540px;
    background-color: $color-white;
}

.section3 {
    height: 628px;
    background-color: $color-8-light-grey;

}

.section4 {
    height:286px;
    background-color: $color-white;
    
}

.section5 {
    height:624px;
    background-color: $color-8-light-grey;
}

.section6 {
    height:218px;
    background-color: $color-white;
    
}

.section8 {
    height:540px;
    background-color: $color-white;
}

.section7 {
    height:1201px;
    background-color: $color-8-light-grey;

}

.section9 {
    height:100px;
    background-color: $color-2-light-grey;
}

.section10 {
    height:980px;
    background-color: $color-2-light-grey;
}

.section11 {
    height: 1350px;
    background-color: $color-2-light-grey;
}
.section12 {
    height: 1050px;
    background-color: $color-2-light-grey;
}

.bg_grey {
    background-color: $color-8-light-grey;
}

.bg_white {
    background-color: $color-white;
}

.border {
    border: 1px solid $color-8-light-grey;
}

