.section {
    @include container();

    @media screen and (max-width:1200px) {
        @include container_1200();
    }
    @media screen and (max-width:992px) {
        @include container_992();
    }
    @media screen and (max-width:768px) {
        @include container_768();
    }
    @media screen and (max-width:576px) {
        @include container_576();
    }

    &__container {
       
        margin: 0 auto;
        padding: 25px;

        @media screen and (max-width:1200px) {
            max-width: 1140px;
        }
        @media screen and (max-width:992px) {
            max-width: 952px;
        }
        @media screen and (max-width:768px) {
            max-width: 738px;
        }
        @media screen and (max-width:576px) {
            max-width: 566px;
        }

        &_top {
            @include flex();
            margin: $m-1 0;

            max-width: 1280px;
            margin: 0 auto;
            
            &--title {
                font-weight: $font-w-700;
                font-size: $font-32;
                margin:$m-1;
                margin-bottom: $m-2;

                @media screen and (max-width:1200px) {
                    font-size: $font-26;
                    margin:$m-1;
                    margin-bottom: $m-1-5;
                }
                @media screen and (max-width:992px) {
                    font-size: $font-24;
                    margin:$m-0-7;
                    margin-bottom: $m-1;
                }
                @media screen and (max-width:768px) {
                    font-size: $font-20;
                    margin:$m-0-5;
                    margin-bottom: $m-0-7;
                }
                @media screen and (max-width:576px) {
                    font-size: $font-16;
                    margin:$m-0-3;
                    margin-bottom: $m-0-5;
                }
                
                & a:hover {
                    color: $color-middle-blue;
                    border-bottom: 4px solid $color-middle-blue;
                }
               
            }

            &--link {
                @include flex();

                font-weight: $font-w-500;
                font-size: $font-16;
                margin: $m-1;
                text-align: right;

                
            }
        }

        &_lists {
            @include flex_e();
            
            max-width: 1280px;
            margin: 0 auto;
        }

        &_description {
            font-size: $font-16;
            font-weight: $font-w-400;
            margin-left: $m-4;
            line-height: 22px;

            &--list {
                padding: $p-1;
                font-size: $font-16;
                font-weight: $font-w-400;
                margin-left: $m-5;
                list-style-type: disc;
            }

        }

        &_swiper {
           max-width: 1280px;
           margin: $m-2;
           margin: 0 auto;

            @media screen and (max-width:1200px) {
                max-width: 1140px;
            }
            @media screen and (max-width:992px) {
                max-width: 952px;
            }
            @media screen and (max-width:768px) {
                max-width: 738px;
            }
            @media screen and (max-width:576px) {
                max-width: 566px;
            }
        }
    }
}


.bg_grey {
    background-color: $color-8-light-grey;
}

.bg_counters {
    background-color: $color-light-grey;
}

.bg_white {
    background-color: $color-white;
}

.border {
    border: 1px solid $color-8-light-grey;
}

.title_img img {
    width: 124px;
    vertical-align: baseline;

    @media screen and (max-width:1200px) {
        width: 114px;
        
    }
    @media screen and (max-width:992px) {
        width: 104px;
    }
    @media screen and (max-width:768px) {
        width: 94px;
    }
    @media screen and (max-width:576px) {
        width: 84px;
    }

}

