@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  text-decoration: none;
  color: #000000;
}

html,
body {
  font-family: "Prompt", sans-serif;
  font-size: 14px;
  background: #FFFFFF;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.no_flex {
  clear: left;
}

.title_link {
  margin: 0.5rem;
}

.list_title {
  font-weight: 700;
  font-size: 18px;
  color: #15191C;
  margin-bottom: 1rem;
}

.list_counter {
  font-weight: 500;
  font-size: 12px;
  color: #9A9C9E;
  margin-left: 0.3rem;
}

.old_price {
  text-decoration-line: line-through;
  margin-left: 0.5rem;
  font-size: 16px;
  font-weight: 500;
  color: #9A9C9E;
}

.modal-header {
  background: #EEEE36;
  color: #13507E;
  border-bottom: none;
}
.modal-body {
  background: #D7D9DC;
  color: #15191C;
}

.map__img {
  margin: 2rem;
  padding: 2rem;
}

.btn_news,
.btn_price {
  justify-content: center;
  align-items: center;
  padding: 11px 15px;
  border-radius: 5px;
  color: #0696E7;
  background-color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #FFFFFF;
  width: 200px;
  box-shadow: 0px 5px 20px rgba(63, 66, 69, 0.05);
}
.btn_news:hover,
.btn_price:hover {
  transition: all 0.3s;
  border: 1px solid #FFFFFF;
  background: linear-gradient(0deg, #F1DA09, #F1DA09), linear-gradient(0deg, #EEEE36, #EEEE36), #0867D6;
  cursor: pointer;
  transform: translateY(-2px);
}

.view_all {
  border: 1px solid #E0E1E3;
  border-radius: 5px;
  padding: 6px 10px;
  width: 130px;
  height: 32px;
  font-weight: 500;
  font-size: 14px;
  color: #0696E7;
}
.view_all:hover {
  font-weight: 700;
}

.btn_basket {
  margin: 0.5rem;
  border: none;
}

.btn_more {
  position: relative;
  background-color: #EEEE36;
  width: 186px;
  height: 56px;
  top: 240px;
  left: 50px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 3px;
  padding: 16px 30px;
}

.btn_submit {
  float: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #0867D6;
  padding: 1rem;
  margin: 1rem;
}
.btn_submit:hover {
  transition: all 0.3s;
  transform: translateY("-5px");
}

.btns {
  transition: all 0.3s;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 4rem;
  text-decoration: none;
  line-height: 45px;
  border-radius: 45px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 500;
  color: #13507E;
  background: #EEEE36;
}
.btns:hover {
  color: #13507E;
  text-decoration: none;
  transform: translateY(-5px);
  cursor: pointer;
}
.btns__add {
  background: #EEEE36;
}
.btns__up {
  position: fixed;
  right: 20px;
  bottom: 0;
  cursor: pointer;
}
.btns__up_hide {
  display: none;
}

.swiper-button-prev {
  margin-left: -10px;
}

.swiper-button-next {
  margin-right: -10px;
}

.slider-top {
  width: 876px;
  padding: 0.5rem;
  margin: 0 auto;
}
.slider-top__area {
  margin: 1rem;
}
.slider-top__area_slides--slide {
  background-image: url("../img/goods/main_slider.png");
  border-radius: 10px;
  width: 876px;
  height: 415px;
}

.card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4rem;
}
.card__popular {
  width: 20%;
  border: 1px solid #D7D9DC;
  align-items: center;
  padding: 25px 20px;
  background-color: #FFFFFF;
}
.card__popular:hover {
  transition: all 0.3s;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card__popular_img {
  margin: 0.5rem;
}
.card__popular_img--image {
  display: block;
  margin: 0 auto;
  left: 50%;
}
.card__popular_description--title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  margin: 1rem;
}
.card__popular_description--title:hover {
  transition: all 0.3s;
  color: #0696E7;
}
.card__popular_description--count {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #9A9C9E;
}
.card__brend {
  background-color: #F7F8FB;
  border: 1px solid #D7D9DC;
  border-radius: 10px;
  width: 180px;
  height: 100px;
  padding: 27px 30px;
}
.card__brend:hover {
  background-color: #FFFFFF;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 270px;
  height: 98px;
  padding: 11px 30px;
  background-color: #F2F5F9;
  border-radius: 5px;
}
.card__icon:hover {
  transition: all 0.3s;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
.card__icon_image img {
  padding-bottom: 1rem;
}
.card__icon_title {
  font-weight: 500;
  font-size: 18px;
  color: #3A3F43;
}
.card__icon_link {
  font-weight: 700;
  font-size: 18px;
  color: #3A3F43;
}
.card__icon_link:hover {
  color: #0696E7;
}
.card__goods {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 30.303030303%;
  height: 325px;
  box-shadow: 0px 5px 20px rgba(63, 66, 69, 0.05);
  border-radius: 5px;
  background: #FFFFFF;
  margin: 1rem;
}
.card__goods_img {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  margin-left: 2rem;
  margin-bottom: 15rem;
}
.card__goods_lists {
  margin-right: 1rem;
}
.card__goods_lists--list {
  padding: 0.5rem;
}
.card__goods_lists--list a:hover {
  transition: all 0.3s;
  color: #0696E7;
}
.card__hits {
  display: block;
  float: left;
  width: 25%;
  height: 410px;
  margin: 1rem;
  background: #FFFFFF;
  margin: 1rem;
  margin: 0 auto;
}
.card__hits_check {
  margin: 1rem;
}
.card__hits_img {
  text-align: center;
}
.card__hits_title {
  font-weight: 500;
  font-size: 16px;
  margin: 0.5rem;
  text-align: center;
}
.card__hits_stars {
  margin: 0.5rem;
  text-align: center;
}
.card__hits_price {
  font-size: 24px;
  font-weight: 700;
  margin: 0.5rem;
  text-align: center;
}
.card__counters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.card__counters_title a {
  margin: 0.5rem;
  color: #D7D9DC;
  font-size: 20px;
  font-weight: 500;
}
.card__counters_title a:hover {
  transition: all 0.3s;
  color: #0696E7;
}
.card__counters_img {
  margin: 1rem;
}
.card__counters_counter {
  margin: 0.5rem;
  padding-top: 0.5rem;
}
.card__counters_devider {
  color: #D7D9DC;
  margin: 0.3rem;
}

.card_bg {
  background-color: #FFFFFF;
}

.form-catalog__block_title {
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  color: #15191C;
  margin: 1rem;
}
.form-catalog__block_description {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #3A3F43;
  margin: 1rem;
}
.form-catalog__block_name {
  padding: 1rem;
  margin: 1rem;
  background-color: #D7D9DC;
  border: 1px solid #9A9C9E;
  border-radius: 5px;
  width: 43.5%;
}
.form-catalog__block_phone {
  padding: 1rem;
  margin: 1rem;
  background-color: #D7D9DC;
  border: 1px solid #9A9C9E;
  border-radius: 5px;
  width: 43.5%;
}
.form-catalog__block_email {
  padding: 1rem;
  margin: 1rem;
  background-color: #D7D9DC;
  border: 1px solid #9A9C9E;
  border-radius: 5px;
  width: 93.5%;
}
.form-catalog__block_message {
  padding: 1rem;
  margin: 1rem;
  background-color: #D7D9DC;
  border: 1px solid #9A9C9E;
  border-radius: 5px;
  height: 120px;
  width: 93.5%;
}
.form-catalog__block_message {
  padding: 1rem;
  margin: 1rem;
  background-color: #D7D9DC;
  border: 1px solid #9A9C9E;
  border-radius: 5px;
  height: 120px;
  width: 93.5%;
}
.form-catalog__block_info {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #3A3F43;
  margin: 1rem;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
}
.header-top {
  background-color: #F7F8FB;
}
.header-top__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  font-size: 14px;
}
.header-top__block_region {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-top__block_region--list {
  margin: 0.3rem;
  padding: 0.3rem;
}
.header-top__block_region--list:hover {
  transition: all 0.3s;
  background-color: #F1DA09;
  border-radius: 5px;
  margin: 0.3rem;
  padding: 0.3rem;
  cursor: pointer;
}
.header-top__block_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-top__block_nav--list {
  margin: 0.3rem;
  padding: 0.3rem;
}
.header-top__block_nav--list:hover {
  transition: all 0.3s;
  background-color: #F1DA09;
  border-radius: 5px;
  margin: 0.3rem;
  padding: 0.3rem;
}
.header-top__block_contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-top__block_contacts--list {
  margin: 0.3rem;
  padding: 0.3rem;
}
.header-top__block_mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-top__block_mail--list {
  margin: 0.3rem;
  padding: 0.3rem;
}
.header-top__block_mail--list:hover {
  transition: all 0.3s;
  background-color: #F1DA09;
  border-radius: 5px;
  margin: 0.3rem;
  padding: 0.3rem;
}
.header-top__block_user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-top__block_user--list {
  margin: 0.3rem;
  padding: 0.3rem;
}
.header-top__block_user--list:hover {
  transition: all 0.3s;
  background-color: #F1DA09;
  border-radius: 5px;
  margin: 0.3rem;
  padding: 0.3rem;
}
.header-bottom {
  height: 90px;
}
.header-bottom__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}
.header-bottom__block_title {
  margin-left: -50px;
}
.header-bottom__block_title--name {
  font-size: 20px;
  font-weight: 400;
}
.header-bottom__block_title--description {
  font-size: 6px;
  color: #5499D1;
}
.header-bottom__block_search--input {
  width: 732px;
  height: 48px;
  padding: 12px, 15px, 12px, 20px;
  border-radius: 5px;
  border: 1px solid #D7D9DC;
  background-color: #F7F8FB;
}
.header-bottom__block_function {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-bottom__block_function--list {
  margin: 1rem;
}
.header-nav {
  height: 50px;
  border: 2px solid #D7D9DC;
}
.header-nav__block {
  max-width: 1280px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 500;
}
.header-nav__block_lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}
.header-nav__block_lists--list a {
  font-weight: 500;
}
.header-nav__block_lists--list a:hover {
  color: #0696E7;
  border-bottom: 4px solid #0696E7;
  font-weight: 500;
}

.point_icon:hover {
  transition: all 0.3s;
  transform: translateY(-5px);
}

.social__list_icon:hover {
  transition: all 0.3s;
  transform: translateY(-5px);
}

.logo_icon_centr {
  background-image: url("../img/icons/logo_round.png");
  background-repeat: no-repeat;
  padding: 0.3rem;
}

.search_icon {
  margin-left: -30px;
}

.functions__lists_list--icon:hover {
  transition: all 0.3s;
  transform: translateY(-5px);
}

/* Кнопка выпадающего списка */
.dropbtn {
  background-color: #F7F8FB;
  color: #15191C;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Кнопка выпадающего меню при наведении и фокусировке */
.dropbtn:hover, .dropbtn:focus {
  background-color: #F7F8FB;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F7F8FB;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: #15191C;
  padding: 10px 15px;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
.show {
  display: block;
}

.section {
  max-width: 1440px;
  margin: 0 auto;
}
.section__container {
  margin: 0 auto;
}
.section__container_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0;
  max-width: 1280px;
  margin: 0 auto;
}
.section__container_top--title {
  font-weight: 700;
  font-size: 32px;
  margin: 1rem;
}
.section__container_top--title a:hover {
  color: #0696E7;
  border-bottom: 4px solid #0696E7;
}
.section__container_top--link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 16px;
  margin: 1rem;
  text-align: right;
}
.section__container_lists {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
}
.section__container_description {
  font-size: 16px;
  font-weight: 400;
  margin-left: 3rem;
  line-height: 22px;
}
.section__container_description--list {
  padding: 1rem;
  font-size: 16px;
  font-weight: 400;
  list-style-type: disc;
}
.section__container_swiper {
  max-width: 1280px;
  margin: 2rem;
  margin: 0 auto;
}

.section1 {
  height: 460px;
  background-color: #F7F8FB;
}

.section2 {
  height: 540px;
  background-color: #FFFFFF;
}

.section3 {
  height: 628px;
  background-color: #F7F8FB;
}

.section4 {
  height: 286px;
  background-color: #FFFFFF;
}

.section5 {
  height: 624px;
  background-color: #F7F8FB;
}

.section6 {
  height: 218px;
  background-color: #FFFFFF;
}

.section8 {
  height: 540px;
  background-color: #FFFFFF;
}

.section7 {
  height: 1201px;
  background-color: #F7F8FB;
}

.section9 {
  height: 100px;
  background-color: #535E69;
}

.section10 {
  height: 980px;
  background-color: #535E69;
}

.bg_grey {
  background-color: #F7F8FB;
}

.bg_white {
  background-color: #FFFFFF;
}

.footer {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #F7F8FB;
}
.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  height: 460px;
  font-size: 16px;
}
.footer-block__column1 {
  height: 80%;
}
.footer-block__column1_lists--list {
  margin: 1rem;
  clear: left;
}
.footer-block__column2 {
  height: 80%;
}
.footer-block__column2_lists--list {
  margin: 1rem;
}
.footer-block__column2_lists--list a:hover {
  transition: all 0.3s;
  color: #0696E7;
}
.footer-block__column3 {
  height: 80%;
}
.footer-block__column3_lists--list {
  margin: 1rem;
}
.footer-block__column3_lists--list a:hover {
  transition: all 0.3s;
  color: #0696E7;
}
.footer-block__column4 {
  height: 80%;
}
.footer-block__column4_lists--list {
  margin: 1rem;
}
.footer-block__column4_lists--list a:hover {
  transition: all 0.3s;
  color: #0696E7;
}
.footer-rights {
  background-color: #F2F5F9;
  height: 60px;
}
.footer-rights__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
  font-size: 14px;
  color: #3A3F43;
}
.footer-rights__block_politics--item {
  margin: 1rem;
}
.footer-rights__block_politics--item:hover {
  transition: all 0.3s;
  color: #0696E7;
}
.footer-rights__block_sitemap--item {
  margin: 1rem;
}
.footer-rights__block_sitemap--item:hover {
  transition: all 0.3s;
  color: #0696E7;
}

.title_footer_menu {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 2rem;
}

.logo-footer {
  float: left;
  margin: 1rem;
  width: 100%;
}
.logo-footer__icon {
  margin: 1rem;
  margin-left: -5px;
}
.logo-footer__icon_img {
  background-image: url("../img/icons/logo_round.png");
  background-repeat: no-repeat;
  padding: 0.5rem;
  float: left;
}
.logo-footer__title_name {
  font-size: 20px;
  font-weight: 400;
  margin: 0.5rem;
  margin-top: 20px;
  margin-left: -12px;
  padding: 0.3rem;
}
.logo-footer__title_description {
  font-size: 6px;
  color: #5499D1;
  margin: 0.5rem;
  margin-top: -14px;
  margin-left: -12px;
  padding: 0.3rem;
}

.contacts-footer__icon {
  float: left;
  margin: 0.3rem;
  margin-top: -2px;
}
.contacts-footer__contact {
  margin: 1rem;
}
.contacts-footer__contact a:hover {
  transition: all 0.3s;
  color: #0696E7;
}

.footer__yandex {
  border: 1px solid #D7D9DC;
  border-radius: 3px;
  padding: 10px;
  margin: 1rem;
  width: 90%;
}
.footer__yandex_title {
  margin: 0.5rem;
  text-align: center;
  font-weight: 700;
}
.footer__yandex_logo {
  margin: 0.3rem auto;
  display: block;
  justify-content: center;
}

.payment__title {
  color: #747883;
}
.payment__type {
  margin: 0.3rem;
}
.payment__type:hover {
  transition: all 0.3s;
  transform: translateY(-5px);
}

.phone__link {
  color: #15191C;
  font-weight: 700;
  font-size: 24px;
}

.social-footer__icon {
  float: left;
  background: #FFFFFF;
  border-radius: 5px;
  width: 36px;
  height: 36px;
  margin: 0.5rem 0.5rem 1rem 0;
}
.social-footer__icon_img {
  display: block;
  margin: 10px auto;
}
.social-footer__icon_img:hover {
  transition: all 0.3s;
  transform: translateY(-4px);
}/*# sourceMappingURL=main.css.map */