@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  text-decoration: none;
  color: #000000;
}

html,
body {
  font-family: "Prompt", sans-serif;
  font-size: 14px;
  background: #FFFFFF;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.no_flex {
  clear: left;
}

.title_link {
  margin: 0.5rem;
}

.list_title {
  font-weight: 700;
  font-size: 18px;
  color: #15191C;
  margin-bottom: 1rem;
}

.list_counter {
  font-weight: 500;
  font-size: 12px;
  color: #9A9C9E;
  margin-left: 0.3rem;
}

.old_price {
  text-decoration-line: line-through;
  margin-left: 0.5rem;
  font-size: 16px;
  font-weight: 500;
  color: #9A9C9E;
}

.modal-header {
  background: #EEEE36;
  color: #13507E;
  border-bottom: none;
}
.modal-body {
  background: #D7D9DC;
  color: #15191C;
}

.map__img {
  margin: 2rem;
  padding: 2rem;
}
@media screen and (max-width: 1200px) {
  .map__img {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .map__img {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .map__img {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .map__img {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 100%;
  }
}

.basket {
  padding: 4rem;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .basket {
    padding: 4rem;
  }
}
@media screen and (max-width: 992px) {
  .basket {
    padding: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .basket {
    padding: 2rem;
  }
}
@media screen and (max-width: 576px) {
  .basket {
    padding: 1rem;
  }
}
.basket__img {
  margin-left: 4rem;
}
.basket__title {
  font-size: 24px;
  font-weight: 700;
  margin: 1rem;
}
.basket__btn {
  width: 240px;
}

.btn_news,
.btn_price {
  justify-content: center;
  align-items: center;
  padding: 11px 15px;
  border-radius: 5px;
  color: #0696E7;
  background-color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #FFFFFF;
  width: 200px;
  box-shadow: 0px 5px 20px rgba(63, 66, 69, 0.05);
}
.btn_news:hover,
.btn_price:hover {
  transition: all 0.3s;
  border: 1px solid #FFFFFF;
  background: linear-gradient(0deg, #F1DA09, #F1DA09), linear-gradient(0deg, #EEEE36, #EEEE36), #0867D6;
  cursor: pointer;
  transform: translateY(-2px);
}
@media screen and (max-width: 1200px) {
  .btn_news,
  .btn_price {
    padding: 10px 12px;
    font-size: 13px;
    width: 180px;
  }
}
@media screen and (max-width: 992px) {
  .btn_news,
  .btn_price {
    padding: 9px 11px;
    font-size: 12px;
    width: 140px;
  }
}
@media screen and (max-width: 768px) {
  .btn_news,
  .btn_price {
    padding: 8px 10px;
    font-size: 11px;
    width: 100px;
  }
}
@media screen and (max-width: 576px) {
  .btn_news,
  .btn_price {
    padding: 7px 9px;
    font-size: 10px;
    width: 80px;
  }
}

.view_all {
  border: 1px solid #E0E1E3;
  border-radius: 5px;
  padding: 6px 10px;
  width: 130px;
  height: 32px;
  font-weight: 500;
  font-size: 14px;
  color: #0696E7;
}
.view_all:hover {
  font-weight: 700;
}

.btn_basket {
  margin: 0.5rem;
  border: none;
}

.btn_more {
  position: relative;
  background-color: #EEEE36;
  width: 186px;
  height: 56px;
  top: 240px;
  left: 50px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 3px;
  padding: 16px 30px;
}
@media screen and (max-width: 1200px) {
  .btn_more {
    width: 176px;
    top: 230px;
    left: 50px;
  }
}
@media screen and (max-width: 992px) {
  .btn_more {
    width: 166px;
    top: 220px;
    left: 50px;
  }
}
@media screen and (max-width: 768px) {
  .btn_more {
    width: 156px;
    top: 210px;
    left: 50px;
  }
}
@media screen and (max-width: 576px) {
  .btn_more {
    width: 146px;
    top: 200px;
    left: 50px;
  }
}

.btn_submit {
  float: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #0867D6;
  padding: 1rem;
  margin: 1rem;
}
.btn_submit:hover {
  transition: all 0.3s;
  transform: translateY("-5px");
}

.btns {
  transition: all 0.3s;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 4rem;
  text-decoration: none;
  line-height: 45px;
  border-radius: 45px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 500;
  color: #13507E;
  background: #EEEE36;
}
.btns:hover {
  color: #13507E;
  text-decoration: none;
  transform: translateY(-5px);
  cursor: pointer;
}
.btns__add {
  background: #EEEE36;
}
.btns__up {
  position: fixed;
  right: 20px;
  bottom: 0;
  cursor: pointer;
}
.btns__up_hide {
  display: none;
}

.swiper-button-prev {
  margin-left: -10px;
}

.swiper-button-next {
  margin-right: -10px;
}

.slider-top {
  width: 876px;
  padding: 0.5rem;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .slider-top {
    width: 776px;
  }
}
@media screen and (max-width: 992px) {
  .slider-top {
    width: 576px;
  }
}
@media screen and (max-width: 768px) {
  .slider-top {
    width: 476px;
  }
}
@media screen and (max-width: 576px) {
  .slider-top {
    width: 356px;
  }
}
.slider-top__area {
  margin: 1rem;
}
.slider-top__area_slides--slide {
  background-image: url("../img/goods/main_slider.png");
  border-radius: 10px;
  width: 876px;
  height: 415px;
}
@media screen and (max-width: 1200px) {
  .slider-top__area_slides--slide {
    width: 776px;
    height: 375px;
    border-radius: 10px;
  }
}
@media screen and (max-width: 992px) {
  .slider-top__area_slides--slide {
    width: 576px;
    height: 345px;
    border-radius: 8px;
  }
}
@media screen and (max-width: 768px) {
  .slider-top__area_slides--slide {
    width: 476px;
    height: 315px;
    border-radius: 6px;
  }
}
@media screen and (max-width: 576px) {
  .slider-top__area_slides--slide {
    width: 356px;
    height: 295px;
    border-radius: 5px;
  }
}

.card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4rem;
}
.card__popular {
  width: 20%;
  border: 1px solid #D7D9DC;
  align-items: center;
  padding: 15px 10px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 1200px) {
  .card__popular {
    width: 25%;
    padding: 15px 15px;
  }
}
@media screen and (max-width: 992px) {
  .card__popular {
    width: 33.3333333333%;
    padding: 15px 15px;
  }
}
@media screen and (max-width: 768px) {
  .card__popular {
    width: 50%;
    padding: 15px 15px;
  }
}
@media screen and (max-width: 576px) {
  .card__popular {
    width: 100%;
    padding: 15px 15px;
  }
}
.card__popular:hover {
  transition: all 0.3s;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card__popular_img {
  margin: 0.5rem;
}
.card__popular_img--image {
  display: block;
  margin: 0 auto;
  left: 50%;
}
.card__popular_description--title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}
.card__popular_description--title:hover {
  transition: all 0.3s;
  color: #0696E7;
}
.card__popular_description--count {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #9A9C9E;
}
.card__brend {
  background-color: #F7F8FB;
  border: 1px solid #D7D9DC;
  border-radius: 10px;
  margin: 0.5rem;
  width: 18.1818181818%;
  height: 100px;
  padding: 27px 30px;
}
@media screen and (max-width: 1200px) {
  .card__brend {
    width: 22.7272727273%;
  }
}
@media screen and (max-width: 992px) {
  .card__brend {
    width: 30.303030303%;
  }
}
@media screen and (max-width: 768px) {
  .card__brend {
    width: 45.4545454545%;
  }
}
@media screen and (max-width: 576px) {
  .card__brend {
    width: 100%;
  }
}
.card__brend:hover {
  background-color: #FFFFFF;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 260px;
  height: 98px;
  padding: 11px 30px;
  margin: 0.5rem;
  background-color: #F2F5F9;
  border-radius: 5px;
}
.card__icon:hover {
  transition: all 0.3s;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
.card__icon_image img {
  padding-bottom: 1rem;
}
.card__icon_title {
  font-weight: 500;
  font-size: 18px;
  color: #3A3F43;
}
.card__icon_link {
  font-weight: 700;
  font-size: 18px;
  color: #3A3F43;
}
.card__icon_link:hover {
  color: #0696E7;
}
.card__goods {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 30.303030303%;
  height: 325px;
  box-shadow: 0px 5px 20px rgba(63, 66, 69, 0.05);
  border-radius: 5px;
  background: #FFFFFF;
  margin: 1rem;
}
@media screen and (max-width: 1200px) {
  .card__goods {
    width: 43.4782608696%;
    margin: 1rem;
  }
}
@media screen and (max-width: 992px) {
  .card__goods {
    margin: 0.7rem;
    width: 43.4782608696%;
  }
}
@media screen and (max-width: 768px) {
  .card__goods {
    margin: 0.5rem;
    width: 76.9230769231%;
  }
}
@media screen and (max-width: 576px) {
  .card__goods {
    margin: 0.3rem;
    width: 76.9230769231%;
  }
}
.card__goods_img {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  margin-left: 2rem;
  margin-bottom: 15rem;
}
@media screen and (max-width: 1200px) {
  .card__goods_img {
    height: 70px;
    width: 70px;
  }
}
@media screen and (max-width: 992px) {
  .card__goods_img {
    height: 70px;
    width: 70px;
  }
}
@media screen and (max-width: 768px) {
  .card__goods_img {
    height: 60px;
    width: 60px;
    border-radius: 8px;
    margin-left: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .card__goods_img {
    height: 48px;
    width: 48px;
    border-radius: 5px;
    margin-left: 0.5rem;
  }
}
.card__goods_lists {
  margin-right: 1rem;
}
@media screen and (max-width: 1200px) {
  .card__goods_lists {
    margin-right: 1rem;
  }
}
@media screen and (max-width: 992px) {
  .card__goods_lists {
    margin-right: 0.7rem;
  }
}
@media screen and (max-width: 768px) {
  .card__goods_lists {
    margin-right: 0.5rem;
  }
}
@media screen and (max-width: 576px) {
  .card__goods_lists {
    margin-right: 0.3rem;
  }
}
.card__goods_lists--list {
  padding: 0.5rem;
}
.card__goods_lists--list a:hover {
  transition: all 0.3s;
  color: #0696E7;
}
.card__hits {
  display: block;
  float: left;
  width: 25%;
  height: 410px;
  margin: 1rem;
  background: #FFFFFF;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .card__hits {
    width: 25%;
    margin: 1rem;
  }
}
@media screen and (max-width: 992px) {
  .card__hits {
    width: 33.3333333333%;
    margin: 0.7rem;
  }
}
@media screen and (max-width: 768px) {
  .card__hits {
    width: 50%;
    margin: 0.5rem;
  }
}
@media screen and (max-width: 576px) {
  .card__hits {
    width: 100%;
    margin: 0.3rem;
  }
}
.card__hits_check {
  margin: 1rem;
}
@media screen and (max-width: 1200px) {
  .card__hits_check {
    margin: 1rem;
  }
}
@media screen and (max-width: 992px) {
  .card__hits_check {
    margin: 0.7rem;
  }
}
@media screen and (max-width: 768px) {
  .card__hits_check {
    margin: 0.5rem;
  }
}
@media screen and (max-width: 576px) {
  .card__hits_check {
    margin: 0.3rem;
  }
}
.card__hits_img {
  text-align: center;
}
.card__hits_title {
  font-weight: 500;
  font-size: 16px;
  margin: 0.5rem;
  text-align: center;
}
.card__hits_stars {
  margin: 0.5rem;
  text-align: center;
}
.card__hits_price {
  font-size: 24px;
  font-weight: 700;
  margin: 0.5rem;
  text-align: center;
}
.card__counters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.card__counters_title a {
  margin: 0.3rem;
  color: #D7D9DC;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 1200px) {
  .card__counters_title a {
    margin: 0.5rem;
    font-size: 18px;
  }
}
@media screen and (max-width: 992px) {
  .card__counters_title a {
    margin: 0.5rem;
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .card__counters_title a {
    margin: 0.3rem;
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  .card__counters_title a {
    margin: 0.2rem;
    font-size: 12px;
  }
}
.card__counters_title a:hover {
  transition: all 0.3s;
  color: #0696E7;
}
.card__counters_img {
  margin: 1rem;
}
@media screen and (max-width: 1200px) {
  .card__counters_img {
    margin: 1rem;
  }
}
@media screen and (max-width: 992px) {
  .card__counters_img {
    margin: 0.7rem;
  }
}
@media screen and (max-width: 768px) {
  .card__counters_img {
    margin: 0.5rem;
  }
}
@media screen and (max-width: 576px) {
  .card__counters_img {
    margin: 0.3rem;
  }
}
.card__counters_counter {
  margin: 0.5rem;
  padding-top: 0.5rem;
}
@media screen and (max-width: 1200px) {
  .card__counters_counter {
    margin: 0.5rem;
    padding-top: 0.5rem;
  }
}
@media screen and (max-width: 992px) {
  .card__counters_counter {
    margin: 0.5rem;
    padding-top: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .card__counters_counter {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .card__counters_counter {
    display: none;
  }
}
.card__counters_devider {
  color: #D7D9DC;
  margin: 0.3rem;
}
@media screen and (max-width: 1200px) {
  .card__counters_devider {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .card__counters_devider {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .card__counters_devider {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .card__counters_devider {
    display: none;
  }
}

.card_bg {
  background-color: #FFFFFF;
}

.form-catalog__block_title {
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  color: #15191C;
  margin: 1rem;
}
.form-catalog__block_description {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #3A3F43;
  margin: 1rem;
}
.form-catalog__block_name {
  padding: 1rem;
  margin: 1rem;
  background-color: #D7D9DC;
  border: 1px solid #9A9C9E;
  border-radius: 5px;
  width: 43.5%;
}
.form-catalog__block_phone {
  padding: 1rem;
  margin: 1rem;
  background-color: #D7D9DC;
  border: 1px solid #9A9C9E;
  border-radius: 5px;
  width: 43.5%;
}
.form-catalog__block_email {
  padding: 1rem;
  margin: 1rem;
  background-color: #D7D9DC;
  border: 1px solid #9A9C9E;
  border-radius: 5px;
  width: 93.5%;
}
.form-catalog__block_message {
  padding: 1rem;
  margin: 1rem;
  background-color: #D7D9DC;
  border: 1px solid #9A9C9E;
  border-radius: 5px;
  height: 120px;
  width: 93.5%;
}
.form-catalog__block_info {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #3A3F43;
  margin: 1rem;
}
@media screen and (max-width: 1200px) {
  .form-catalog__block_info {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .form-catalog__block_info {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .form-catalog__block_info {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .form-catalog__block_info {
    display: none;
  }
}

.product__img {
  border: 1px solid #E0E1E3;
  padding: 3rem;
}
@media screen and (max-width: 1200px) {
  .product__img {
    padding: 2rem;
  }
}
@media screen and (max-width: 992px) {
  .product__img {
    padding: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .product__img {
    padding: 0.5rem;
  }
}
@media screen and (max-width: 576px) {
  .product__img {
    padding: 0.3rem;
  }
}
@media screen and (max-width: 1200px) {
  .product__img_image {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .product__img_image {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .product__img_image {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .product__img_image {
    width: 100%;
  }
}
.product__info {
  margin: 0.5rem;
}
.product__info_lists--title {
  font-size: 32px;
  font-weight: 700;
  margin: 2rem 0;
}
@media screen and (max-width: 1200px) {
  .product__info_lists--title {
    font-size: 28px;
  }
}
@media screen and (max-width: 992px) {
  .product__info_lists--title {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .product__info_lists--title {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .product__info_lists--title {
    font-size: 18px;
  }
}
.product__info_lists--stars {
  font-size: 16px;
  font-weight: 500;
  margin: 1rem 0;
}
.product__info_lists--nalichie {
  font-size: 16px;
  font-weight: 500;
  color: #46AC44;
  margin: 1rem 0;
}
.product__info_lists--options {
  font-size: 18px;
  font-weight: 700;
  margin: 1rem 0;
}
.product__info_lists--price {
  font-size: 32px;
  font-weight: 700;
}
.product__info_lists--option {
  font-size: 16px;
  font-weight: 400;
  color: #747883;
  margin: 1rem 0;
}
.product__info_lists--option a {
  border-bottom: 1px solid #0696E7;
  color: #0696E7;
}
.product__info_lists--option a:hover {
  border-bottom: 3px solid #0696E7;
  font-weight: 700;
}

.tech__block {
  margin: 1rem;
}
.tech__block_titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  height: 50px;
  margin: 2rem;
  background-color: #F7F8FB;
}
.tech__block_titles--title a {
  color: #15191C;
  padding: 1rem;
}
.tech__block_titles--title a:hover {
  color: #0696E7;
  border-bottom: 2px solid #0696E7;
}
.tech__block_lists {
  width: 50%;
  margin: 2rem;
}
@media screen and (max-width: 1200px) {
  .tech__block_lists {
    width: 60%;
    margin: 2rem;
  }
}
@media screen and (max-width: 992px) {
  .tech__block_lists {
    width: 70%;
    margin: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .tech__block_lists {
    width: 80%;
    margin: 0.5rem;
  }
}
@media screen and (max-width: 576px) {
  .tech__block_lists {
    width: 90%;
    margin: 0.3rem;
  }
}
.tech__block_lists--title {
  font-size: 20px;
  font-weight: 700;
  margin: 1rem;
}
.tech__block_lists--item {
  font-size: 16px;
  font-weight: 500;
  padding: 1rem;
}

.parametr {
  font-size: 16px;
  font-weight: 700;
  left: 6rem;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .header {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 992px) {
  .header {
    max-width: 992px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 576px) {
  .header {
    max-width: 576px;
    margin: 0 auto;
  }
}
.header-top {
  background-color: #F7F8FB;
}
.header-top__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  font-size: 16px;
}
@media screen and (max-width: 1200px) {
  .header-top__block {
    max-width: 1140px;
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  .header-top__block {
    max-width: 952px;
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .header-top__block {
    max-width: 738px;
    font-size: 11px;
  }
}
@media screen and (max-width: 576px) {
  .header-top__block {
    max-width: 566px;
    font-size: 10px;
  }
}
.header-top__block_region {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-top__block_region--list:hover {
  transition: all 0.3s;
  background-color: #F1DA09;
  border-radius: 5px;
  margin: 0.3rem;
  padding: 0.3rem;
  cursor: pointer;
}
.header-top__block_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-top__block_nav--list {
  margin: 0.3rem;
  padding: 0.3rem;
}
.header-top__block_nav--list:hover {
  transition: all 0.3s;
  background-color: #F1DA09;
  border-radius: 5px;
  margin: 0.3rem;
  padding: 0.3rem;
}
.header-top__block_contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-top__block_contacts--list {
  margin: 0.3rem;
  padding: 0.3rem;
}
.header-top__block_mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-top__block_mail--list {
  margin: 0.3rem;
  padding: 0.3rem;
}
.header-top__block_mail--list:hover {
  transition: all 0.3s;
  background-color: #F1DA09;
  border-radius: 5px;
  margin: 0.3rem;
  padding: 0.3rem;
}
@media screen and (max-width: 1200px) {
  .header-top__block_mail--list {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .header-top__block_mail--list {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header-top__block_mail--list {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .header-top__block_mail--list {
    display: none;
  }
}
.header-top__block_user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-top__block_user--list {
  margin: 0.3rem;
  padding: 0.3rem;
}
.header-top__block_user--list:hover {
  transition: all 0.3s;
  background-color: #F1DA09;
  border-radius: 5px;
  margin: 0.3rem;
  padding: 0.3rem;
}
.header-bottom {
  height: 90px;
}
.header-bottom__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}
@media screen and (max-width: 1200px) {
  .header-bottom__block {
    max-width: 1080px;
    padding: 1rem;
  }
}
@media screen and (max-width: 992px) {
  .header-bottom__block {
    max-width: 892px;
    padding: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .header-bottom__block {
    max-width: 720px;
    padding: 0.7rem;
  }
}
@media screen and (max-width: 576px) {
  .header-bottom__block {
    max-width: 456px;
    padding: 0.5rem;
  }
}
.header-bottom__block_logo {
  width: 26%;
}
.header-bottom__block_logo--img {
  float: left;
}
.header-bottom__block_logo--name {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
}
@media screen and (max-width: 1200px) {
  .header-bottom__block_logo--name {
    font-size: 18px;
  }
}
@media screen and (max-width: 992px) {
  .header-bottom__block_logo--name {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .header-bottom__block_logo--name {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  .header-bottom__block_logo--name {
    font-size: 12px;
  }
}
.header-bottom__block_logo--description {
  margin-top: -10px;
  font-size: 6px;
  color: #5499D1;
}
@media screen and (max-width: 1200px) {
  .header-bottom__block_logo--description {
    font-size: 6px;
  }
}
@media screen and (max-width: 992px) {
  .header-bottom__block_logo--description {
    font-size: 6px;
  }
}
@media screen and (max-width: 768px) {
  .header-bottom__block_logo--description {
    font-size: 4px;
  }
}
@media screen and (max-width: 576px) {
  .header-bottom__block_logo--description {
    font-size: 4px;
  }
}
.header-bottom__block_search--input {
  width: 600px;
  height: 48px;
  padding: 12px 15px;
  border-radius: 5px;
  border: 1px solid #D7D9DC;
  background-color: #F7F8FB;
}
@media screen and (max-width: 1200px) {
  .header-bottom__block_search--input {
    max-width: 450px;
  }
}
@media screen and (max-width: 992px) {
  .header-bottom__block_search--input {
    max-width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .header-bottom__block_search--input {
    max-width: 250px;
  }
}
@media screen and (max-width: 576px) {
  .header-bottom__block_search--input {
    max-width: 120px;
  }
}
.header-bottom__block_function {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-bottom__block_function--list {
  margin: 1rem;
}
@media screen and (max-width: 1200px) {
  .header-bottom__block_function--list {
    margin: 0.7rem;
  }
}
@media screen and (max-width: 992px) {
  .header-bottom__block_function--list {
    margin: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .header-bottom__block_function--list {
    margin: 0.3rem;
  }
}
@media screen and (max-width: 576px) {
  .header-bottom__block_function--list {
    margin: 0.3rem;
  }
}
.header-nav {
  height: 50px;
  border: 2px solid #D7D9DC;
}
.header-nav__block {
  max-width: 1280px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 1200px) {
  .header-nav__block {
    max-width: 1080px;
    font-size: 18px;
    font-weight: 500;
  }
}
@media screen and (max-width: 992px) {
  .header-nav__block {
    max-width: 872px;
    font-size: 14px;
    font-weight: 500;
  }
}
@media screen and (max-width: 768px) {
  .header-nav__block {
    max-width: 648px;
    font-size: 11px;
    font-weight: 500;
  }
}
@media screen and (max-width: 576px) {
  .header-nav__block {
    max-width: 456px;
    font-size: 8px;
    font-weight: 500;
  }
}
.header-nav__block_lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}
.header-nav__block_lists--list a {
  font-weight: 500;
}
.header-nav__block_lists--list a:hover {
  color: #0696E7;
  border-bottom: 4px solid #0696E7;
  font-weight: 500;
}

@media screen and (max-width: 1200px) {
  .closed_menu {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .closed_menu {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .closed_menu {
    display: none;
  }
}
.point_icon {
  margin: 0.5rem;
}
.point_icon:hover {
  transition: all 0.3s;
  transform: translateY(-5px);
}
@media screen and (max-width: 1200px) {
  .point_icon {
    width: 60%;
    margin: 0.5rem;
  }
}
@media screen and (max-width: 992px) {
  .point_icon {
    width: 50%;
    margin: 0.3rem;
  }
}
@media screen and (max-width: 768px) {
  .point_icon {
    width: 40%;
    margin: 0.2rem;
  }
}
@media screen and (max-width: 576px) {
  .point_icon {
    width: 30%;
    margin: 0.2rem;
  }
}

.social__list_icon {
  padding: 0px;
  margin: 0px;
}
@media screen and (max-width: 1200px) {
  .social__list_icon {
    width: 90%;
  }
}
@media screen and (max-width: 992px) {
  .social__list_icon {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .social__list_icon {
    width: 70%;
  }
}
@media screen and (max-width: 576px) {
  .social__list_icon {
    width: 60%;
  }
}
.social__list_icon:hover {
  transition: all 0.3s;
  transform: translateY(-5px);
}

.logo_icon_centr {
  background-image: url("../img/icons/logo_round.png");
  background-repeat: no-repeat;
  padding: 0.3rem;
}

@media screen and (max-width: 1200px) {
  .functions__lists_list--icon {
    width: 90%;
  }
}
@media screen and (max-width: 992px) {
  .functions__lists_list--icon {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .functions__lists_list--icon {
    width: 70%;
  }
}
@media screen and (max-width: 576px) {
  .functions__lists_list--icon {
    width: 60%;
  }
}
.functions__lists_list--icon:hover {
  transition: all 0.3s;
  transform: translateY(-5px);
}

/* Кнопка выпадающего списка */
.dropbtn {
  background-color: #F7F8FB;
  color: #15191C;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .dropbtn {
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  .dropbtn {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .dropbtn {
    font-size: 12px;
  }
}
@media screen and (max-width: 576px) {
  .dropbtn {
    font-size: 11px;
  }
}

/* Кнопка выпадающего меню при наведении и фокусировке */
.dropbtn:hover, .dropbtn:focus {
  background-color: #F7F8FB;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F7F8FB;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: #15191C;
  padding: 10px 15px;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
.show {
  display: block;
}

.section {
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .section {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 992px) {
  .section {
    max-width: 992px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .section {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 576px) {
  .section {
    max-width: 576px;
    margin: 0 auto;
  }
}
.section__container {
  margin: 0 auto;
  padding: 25px;
}
@media screen and (max-width: 1200px) {
  .section__container {
    max-width: 1140px;
  }
}
@media screen and (max-width: 992px) {
  .section__container {
    max-width: 952px;
  }
}
@media screen and (max-width: 768px) {
  .section__container {
    max-width: 738px;
  }
}
@media screen and (max-width: 576px) {
  .section__container {
    max-width: 566px;
  }
}
.section__container_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0;
  max-width: 1280px;
  margin: 0 auto;
}
.section__container_top--title {
  font-weight: 700;
  font-size: 32px;
  margin: 1rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1200px) {
  .section__container_top--title {
    font-size: 26px;
    margin: 1rem;
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 992px) {
  .section__container_top--title {
    font-size: 24px;
    margin: 0.7rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .section__container_top--title {
    font-size: 20px;
    margin: 0.5rem;
    margin-bottom: 0.7rem;
  }
}
@media screen and (max-width: 576px) {
  .section__container_top--title {
    font-size: 16px;
    margin: 0.3rem;
    margin-bottom: 0.5rem;
  }
}
.section__container_top--title a:hover {
  color: #0696E7;
  border-bottom: 4px solid #0696E7;
}
.section__container_top--link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 16px;
  margin: 1rem;
  text-align: right;
}
.section__container_lists {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
}
.section__container_description {
  font-size: 16px;
  font-weight: 400;
  margin-left: 4rem;
  line-height: 22px;
}
.section__container_description--list {
  padding: 1rem;
  font-size: 16px;
  font-weight: 400;
  margin-left: 5rem;
  list-style-type: disc;
}
.section__container_swiper {
  max-width: 1280px;
  margin: 2rem;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .section__container_swiper {
    max-width: 1140px;
  }
}
@media screen and (max-width: 992px) {
  .section__container_swiper {
    max-width: 952px;
  }
}
@media screen and (max-width: 768px) {
  .section__container_swiper {
    max-width: 738px;
  }
}
@media screen and (max-width: 576px) {
  .section__container_swiper {
    max-width: 566px;
  }
}

.bg_grey {
  background-color: #F7F8FB;
}

.bg_counters {
  background-color: #3A3F43;
}

.bg_white {
  background-color: #FFFFFF;
}

.border {
  border: 1px solid #F7F8FB;
}

.title_img img {
  width: 124px;
  vertical-align: baseline;
}
@media screen and (max-width: 1200px) {
  .title_img img {
    width: 114px;
  }
}
@media screen and (max-width: 992px) {
  .title_img img {
    width: 104px;
  }
}
@media screen and (max-width: 768px) {
  .title_img img {
    width: 94px;
  }
}
@media screen and (max-width: 576px) {
  .title_img img {
    width: 84px;
  }
}

.footer {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #F7F8FB;
}
@media screen and (max-width: 1200px) {
  .footer {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 992px) {
  .footer {
    max-width: 992px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 576px) {
  .footer {
    max-width: 576px;
    margin: 0 auto;
  }
}
.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  height: 460px;
  font-size: 16px;
}
@media screen and (max-width: 1200px) {
  .footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1140px;
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  .footer-block {
    max-width: 952px;
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .footer-block {
    max-width: 738px;
    font-size: 11px;
  }
}
@media screen and (max-width: 576px) {
  .footer-block {
    max-width: 566px;
    font-size: 10px;
    flex: none;
  }
}
.footer-block__column1 {
  height: 80%;
}
.footer-block__column1_lists--list {
  margin: 1rem;
  clear: left;
}
.footer-block__column2 {
  height: 80%;
}
.footer-block__column2_lists--list {
  margin: 1rem;
}
.footer-block__column2_lists--list a:hover {
  transition: all 0.3s;
  color: #0696E7;
}
.footer-block__column3 {
  height: 80%;
}
.footer-block__column3_lists--list {
  margin: 1rem;
}
.footer-block__column3_lists--list a:hover {
  transition: all 0.3s;
  color: #0696E7;
}
.footer-block__column4 {
  height: 80%;
}
.footer-block__column4_lists--list {
  margin: 1rem;
}
.footer-block__column4_lists--list a:hover {
  transition: all 0.3s;
  color: #0696E7;
}
.footer-rights {
  background-color: #F2F5F9;
  height: 60px;
}
.footer-rights__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
  font-size: 14px;
  color: #3A3F43;
}
@media screen and (max-width: 1200px) {
  .footer-rights__block {
    max-width: 1140px;
    padding: 1.3rem;
    font-size: 13px;
  }
}
@media screen and (max-width: 992px) {
  .footer-rights__block {
    max-width: 952px;
    padding: 1rem;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .footer-rights__block {
    max-width: 738px;
    padding: 0.7rem;
    font-size: 11px;
  }
}
@media screen and (max-width: 576px) {
  .footer-rights__block {
    max-width: 566px;
    padding: 0.5rem;
    font-size: 10px;
  }
}
.footer-rights__block_politics--item {
  margin: 1rem;
}
@media screen and (max-width: 1200px) {
  .footer-rights__block_politics--item {
    margin: 0.7rem;
  }
}
@media screen and (max-width: 992px) {
  .footer-rights__block_politics--item {
    margin: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .footer-rights__block_politics--item {
    margin: 0.3rem;
  }
}
@media screen and (max-width: 576px) {
  .footer-rights__block_politics--item {
    margin: 0.2rem;
  }
}
.footer-rights__block_politics--item:hover {
  transition: all 0.3s;
  color: #0696E7;
}
.footer-rights__block_sitemap--item {
  margin: 1rem;
}
@media screen and (max-width: 1200px) {
  .footer-rights__block_sitemap--item {
    margin: 0.7rem;
  }
}
@media screen and (max-width: 992px) {
  .footer-rights__block_sitemap--item {
    margin: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .footer-rights__block_sitemap--item {
    margin: 0.3rem;
  }
}
@media screen and (max-width: 576px) {
  .footer-rights__block_sitemap--item {
    margin: 0.2rem;
  }
}
.footer-rights__block_sitemap--item:hover {
  transition: all 0.3s;
  color: #0696E7;
}

.title_footer_menu {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1200px) {
  .title_footer_menu {
    font-size: 18px;
  }
}
@media screen and (max-width: 992px) {
  .title_footer_menu {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .title_footer_menu {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  .title_footer_menu {
    font-size: 12px;
  }
}

.logo-footer {
  float: left;
  margin: 1rem;
  width: 110%;
}
@media screen and (max-width: 1200px) {
  .logo-footer {
    margin: 0.7rem;
  }
}
@media screen and (max-width: 992px) {
  .logo-footer {
    margin: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .logo-footer {
    margin: 0.3rem;
  }
}
@media screen and (max-width: 576px) {
  .logo-footer {
    margin: 0.2rem;
  }
}
.logo-footer__icon {
  margin: 1rem;
  margin-left: -5px;
}
.logo-footer__icon_img {
  background-image: url("../img/icons/logo_round.png");
  background-repeat: no-repeat;
  padding: 0.5rem;
  float: left;
}
.logo-footer__title_name {
  font-size: 20px;
  font-weight: 400;
  margin: 0.5rem;
  margin-top: 20px;
  margin-left: -12px;
  padding: 0.3rem;
}
@media screen and (max-width: 1200px) {
  .logo-footer__title_name {
    font-size: 18px;
    margin: 0.5rem;
    padding: 0.3rem;
  }
}
@media screen and (max-width: 992px) {
  .logo-footer__title_name {
    font-size: 16px;
    margin: 0.3rem;
    padding: 0.3rem;
  }
}
@media screen and (max-width: 768px) {
  .logo-footer__title_name {
    font-size: 14px;
    margin: 0.3rem;
    padding: 0.2rem;
  }
}
@media screen and (max-width: 576px) {
  .logo-footer__title_name {
    font-size: 12px;
    margin: 0.2rem;
    padding: 0.2rem;
  }
}
.logo-footer__title_description {
  font-size: 6px;
  color: #5499D1;
  margin: 0.5rem;
  margin-top: -14px;
  margin-left: -12px;
  padding: 0.3rem;
}
@media screen and (max-width: 1200px) {
  .logo-footer__title_description {
    font-size: 6px;
    margin: 0.5rem;
    padding: 0.3rem;
  }
}
@media screen and (max-width: 992px) {
  .logo-footer__title_description {
    font-size: 6px;
    margin: 0.3rem;
    padding: 0.3rem;
  }
}
@media screen and (max-width: 768px) {
  .logo-footer__title_description {
    font-size: 5px;
    margin: 0.3rem;
    padding: 0.2rem;
  }
}
@media screen and (max-width: 576px) {
  .logo-footer__title_description {
    font-size: 4px;
    margin: 0.2rem;
    padding: 0.2rem;
  }
}

.contacts-footer__icon {
  float: left;
  margin: 0.3rem;
  margin-top: -2px;
}
@media screen and (max-width: 1200px) {
  .contacts-footer__icon {
    margin: 0.3rem;
  }
}
@media screen and (max-width: 992px) {
  .contacts-footer__icon {
    margin: 0.3rem;
  }
}
@media screen and (max-width: 768px) {
  .contacts-footer__icon {
    margin: 0.2rem;
  }
}
@media screen and (max-width: 576px) {
  .contacts-footer__icon {
    margin: 0.2rem;
  }
}
.contacts-footer__contact {
  margin: 1rem;
}
@media screen and (max-width: 1200px) {
  .contacts-footer__contact {
    margin: 0.7rem;
  }
}
@media screen and (max-width: 992px) {
  .contacts-footer__contact {
    margin: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .contacts-footer__contact {
    margin: 0.3rem;
  }
}
@media screen and (max-width: 576px) {
  .contacts-footer__contact {
    margin: 0.2rem;
  }
}
.contacts-footer__contact a:hover {
  transition: all 0.3s;
  color: #0696E7;
}

.footer__yandex {
  border: 1px solid #D7D9DC;
  border-radius: 3px;
  padding: 10px;
  margin: 1rem;
  width: 100%;
}
.footer__yandex_title {
  margin: 0.5rem;
  text-align: center;
  font-weight: 700;
}
.footer__yandex_logo {
  margin: 0.3rem auto;
  display: block;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .footer__yandex {
    padding: 8px;
    margin: 0.7rem;
    width: 90%;
  }
}
@media screen and (max-width: 992px) {
  .footer__yandex {
    padding: 7px;
    margin: 0.5rem;
    width: 85%;
  }
}
@media screen and (max-width: 768px) {
  .footer__yandex {
    padding: 6px;
    margin: 0.3rem;
    width: 80%;
  }
}
@media screen and (max-width: 576px) {
  .footer__yandex {
    padding: 5px;
    margin: 0.3rem;
    width: 75%;
  }
}
.footer__yandex_title {
  margin: 0.5rem;
  text-align: center;
  font-weight: 700;
}
.footer__yandex_logo {
  margin: 0.3rem auto;
  display: block;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .payment__title {
    color: #747883;
  }
  .payment__type {
    margin: 0.3rem;
  }
  .payment__type:hover {
    transition: all 0.3s;
    transform: translateY(-5px);
  }
}
@media screen and (max-width: 992px) {
  .payment__title {
    color: #747883;
  }
  .payment__type {
    margin: 0.2rem;
  }
  .payment__type:hover {
    transition: all 0.3s;
    transform: translateY(-5px);
  }
}
@media screen and (max-width: 768px) {
  .payment {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .payment {
    display: none;
  }
}

.phone__link {
  color: #15191C;
  font-weight: 700;
  font-size: 24px;
}
@media screen and (max-width: 1200px) {
  .phone__link {
    font-size: 20px;
  }
}
@media screen and (max-width: 992px) {
  .phone__link {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .phone__link {
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  .phone__link {
    font-size: 14px;
  }
}

.social-footer__icon {
  float: left;
  background: #FFFFFF;
  border-radius: 5px;
  width: 36px;
  height: 36px;
  margin: 0.5rem 0.5rem 1rem 0;
}
@media screen and (max-width: 1200px) {
  .social-footer__icon {
    width: 32px;
    height: 32px;
  }
}
@media screen and (max-width: 992px) {
  .social-footer__icon {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 768px) {
  .social-footer__icon {
    width: 28px;
    height: 28px;
  }
}
@media screen and (max-width: 576px) {
  .social-footer__icon {
    width: 26px;
    height: 26px;
  }
}
.social-footer__icon_img {
  display: block;
  margin: 10px auto;
}
@media screen and (max-width: 1200px) {
  .social-footer__icon_img {
    margin: 9px auto;
  }
}
@media screen and (max-width: 992px) {
  .social-footer__icon_img {
    margin: 8px auto;
  }
}
@media screen and (max-width: 768px) {
  .social-footer__icon_img {
    margin: 7px auto;
  }
}
@media screen and (max-width: 576px) {
  .social-footer__icon_img {
    margin: 6px auto;
  }
}
.social-footer__icon_img:hover {
  transition: all 0.3s;
  transform: translateY(-4px);
}/*# sourceMappingURL=main.css.map */